*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid lime;
}

header{
    height: 500px;
    background-color: #3f6de4;
    padding: 20px;
}

.flex-container{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.flex-container figure{
    height: 50px;
    width: 200px;
    background-color: white;
}


header ul{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 600px;
    background-color: white;
}


.flex-container button{
    height: 50px;
    width: 200px;
    background-color: white;
}

.flex-text{
    
    display: flex;
    justify-content: center;
    padding: 20px;
}

.flex-text div{
    width: 700px;
    height: 300px;
    background-color: white;
    text-align: center;
}

main section.flex-section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

main section.odd{
    background-color: white;
}

main section.even{
    background-color: #f6f6f6;
}


main section figure{
    min-width: 300px;
    height: 300px;
    background-color:green;
}
main section div{
    min-width: 300px;
    height: 300px;
    background-color:green;
}

main section.flex-section-reverse{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}   

main section.flex-section2{
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}